# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV="development"
PORT="3000"

DISCORD_OAUTH_ID=""
DISCORD_OAUTH_SECRET=""
DISCORD_OAUTH_REDIRECT_URI="http://localhost:3000/auth/callback"
DISCORD_OAUTH_SCOPES="identify guilds.members.read"
DISCORD_BOT_TOKEN=""

DATABASE_URL="postgresql://postgres:password@localhost:5432/database"

SESSION_SECRET="notverysecret"

# CVRE
GUILD_ID="425828850266669058"
# Admin
ADMIN_ROLE_ID="609277667648339968"