form#createTeam(hx-post="/teams/create" hx-encoding="multipart/form-data" hx-swap="outerHTML")
    label(for="name") Name:
    input#name(type="text" name="name" required)
    br
    label(for="locale") School/Region:
    input#locale(type="text" name="locale" required)
    br
    label(for="divisionId") Division: 
    select#divisionID(name="divisionId" value=divisionId required)
        each div in divisions
            option(value=div.id disabled=div.open)= div.name
        else
            option No divisions available.
    br
    input(type="submit" value="Submit")
    input(type="button" value="Cancel" onclick="document.getElementById(\'createTeam\').outerHTML = \'<button hx-get=\"/teams/create\" hx-swap=\"outerHTML\">Create New Team</button>\'; htmx.process(document.body)")