form(hx-put="/teams/" + team.id hx-encoding="multipart/form-data" hx-swap="outerHTML")
    label(for="name") Name: *
    input#name(type="text" name="name" value=team.name required)
    br
    label(for="locale") School/Region: *
    input#locale(type="text" name="locale" value=team.locale required)
    br
    label(for="divisionId") Division: *
    select#divisionID(name="divisionId" required)
        each div in divisions
            option(value=div.id disabled=!div.open selected=(div.id === team.divisionId))= div.name
        else
            option(value="") No divisions available.
    br
    label(for="logo") Team Logo:
    input#logo(type="file" name="logo")
    br
    input(type="submit" value="Submit")
    input(type="button" value="Cancel" hx-get="/teams/" + team.id hx-target="closest form" hx-swap="outerHTML")