include ../mixins/team-card
+team-card(team)
    button(hx-get="/teams/" + team.id + "/edit" hx-target="closest .team-card" hx-swap="outerHTML") Update
    button(hx-delete="/teams/" + team.id hx-target="closest .team-card" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete this team?") Delete