mixin player-card(player, adminView)
    card
        p Name: #{player.name}
        p School: #{player.school}
        p(hx-get="/api/discord/member/" + player.discord hx-trigger="load" hx-swap="beforeend") Discord: 
        p Status: #{player.status}
        if player.discord !== player.manager.discord
            p(hx-get="/api/discord/member/" + player.manager.discord hx-trigger="load" hx-swap="beforeend") Manager: 
        if block
            block