include ../mixins/player-card
+player-card(player)
button(hx-get="/api/self/register" hx-target="#self") Update
button(hx-delete="/api/self" hx-target="#self" hx-confirm="Are you sure you want to delete your registration?") Delete