include ../mixins/player-card
button(hx-get="/api/self/register" hx-target="#self") Update
button(hx-delete="/api/self" hx-target="#self") Delete
+player-card(player)
script.
    document.body.addEventListener('htmx:confirm', function(evt) {
        console.log(evt.detail)
        if (evt.detail.verb === "delete") {
            evt.preventDefault();
            if (confirm("Are you sure you want to delete your registration?"))
                evt.detail.issueRequest()
            }
        }
    );