mixin discord-member(member, registered)
    span= member.displayName
    if registered
        br
        span This CVRE member is already registered!
    else
        input(type='hidden' name='discord' value=member.id)