include team-card
mixin payment-card(team)
    +team-card(team)
        - paid = team.paid === 'ACCEPTED' ? 'PAID' : 'UNPAID'
        p Paid: #{paid}
        button(hx-put="/admin/payments/" + team.id + "/PAID" hx-target="closest .team-card" hx-swap="outerHTML") Mark PAID
        button(hx-put="/admin/payments/" + team.id + "/UNPAID" hx-target="closest .team-card" hx-swap="outerHTML") Mark UNPAID
