mixin player-card(player)
    card.player-card(id="p" + player.id)
        p #{player.discord.displayName}
        p Name: #{player.name}
        p School: #{player.school}
        p Status: #{player.status}
        if block
            block