include discord-member
mixin player-card(player)
    card.player-card(id="p" + player.id)
        p 
            +discord-member(player.discord)
        p Name: #{player.name}
        p School: #{player.school}
        p Status: #{player.status}
        if block
            block