extends default

block content
    h2 My Registration 
    #self(hx-get="/api/self" hx-trigger="load")
        | Loading . . .
    h2 Manager Zone
    h3 My Players
    #players(hx-get="/api/manage/players" hx-trigger="load")
        | Loading . . .
    h3 My Teams
    #teams(hx-get="/api/manage/teams" hx-trigger="load")
        | Loading . . .
    h2 My Account
    div
        button(onclick="location.href='/auth/logout'") Log Out