extends default

block content
    section
    h2 My Registration 
    div#self(hx-get="/api/self" hx-trigger="load")
    // section 
        h2 Manager Zone
        div
            h3 My Teams
            p Not a manager for any teams.
            button Create a New Team
        div
            h3 My Players
            p Not a manager for any other players.
            button Register a Player