extends default

block content
    h2 Dashboard coming soon!
    p
        | Go to 
        a(href="/account") your account info
        |  to register yourself as a player for the coming season.
    // individual reg status, my team, public team listing?