doctype html
html(lang="en")
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title=title
      link(rel='stylesheet' href='/css/default.css')
      script(src='/js/htmx.min.js')
      link(rel='preconnect' href='https://cdn.discordapp.com/')
      link(rel='icon' type='image/x-icon' href='/images/favicon.png')
      meta(property="og:title" content="CVRE Roster Manager")
      meta(property="og:type" content="website")
      meta(property="og:url" content="https://dev.cvre.app/")
      meta(property="og:image" content="https://dev.cvre.app/images/CVRE.png")
      meta(name="theme-color" content="#703893")
    body
      include components/header
      main
        block content
      include components/footer