doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title=title
      link(rel='preconnect' href='https://cdn.discordapp.com/')
      link(rel='icon' type='image/x-icon' href='/images/favicon.png')
      link(rel='stylesheet' href='/css/default.css')
      link(rel='stylesheet' href='/css/header.css')
      script(src='/js/htmx.min.js')
    body
      include components/header
      block content