doctype html
html(lang="en")
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title=title
      link(rel='stylesheet' href='/css/default.css')
      script(src='/js/htmx.min.js')
      link(rel='preconnect' href='https://cdn.discordapp.com/')
      link(rel='icon' type='image/x-icon' href='/images/favicon.png')
      meta(property="og:title" content="CVRE Roster Manager")
      meta(property="og:type" content="website")
      meta(property="og:url" content="https://dev.cvre.app/")
      meta(property="og:image" content="https://dev.cvre.app/images/CVRE.png")
      meta(name="theme-color" content="#703893")
    body
        h3 Help
        p This site is open to members of the CVRE Discord server who are participating in a regular season, limited to collegiate players.
        h4 Players and Managers
        p
            b Players
            |  are registered persons who will compete in a regular League season.
        p
            b Managers
            |  are persons who create teams and may manage other players' registrations.
        p
            | A person can be both a manager & player at the same time, just a manager, or just a player.
            | Players may self-register and join a Manager's team during the season's registration cycle OR a Manager may register some or all of the players for their team.
        p Each person managing or competing with the League must be a member of the 
            a(href="http://discord.gg/JXbmZjp") CVRE League Discord server
            | .
        h4 Player Verification
        p
            | The League is open to persons currently enrolled in a university, college, post-secondary school, or trade school (
            a(href="https://en.wikipedia.org/wiki/Tertiary_education" target="_blank") tertiary education
            | ) during regular seasons.
        p
            | Players or Managers may submit official enrollment documentation such as current class schedules, enrollment certificates, transcripts, or 
            a(href="https://www.studentclearinghouse.org/" target="_blank") National Clearinghouse
            |  documents. These documents should clearly indicate the player’s current active status and affiliation with the institution.
        p Common verification documents include photos of student IDs (including an expiration date or similar) or screenshots of a student portal (showing classes for the current term).
        h4 Player Status
        p Once a player has provided a name, school, and Discord information - "registered" - they can be in one of four states:
            ul
                li AWAITING
                    p Player is registered, but no verification document has been submitted.
                li REVIEW 
                    p Player is registered, has verification, and is pending Admin review & approval.
                li ACCEPTED 
                    p An Admin has reviewed the submitted documentation and accepted it. The Player may now participate in the regular CVRE League season!
                li REJECTED
                    p An Admin has reviewed the submitted documentation and found it does not meet League criteria to prove current and active affiliation with a qualifying institution.
                        |  Player and/or manager should work with an Admin to identify and resubmit appropriate verification.