@import url('/css/modern-normalize.min.css');
@import url('/css/header.css');

body {
    max-width: 50rem;
    margin: auto;
}
button,
input {
    margin: 0.5rem;
}

#filter,
#filter > fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
#filter > fieldset {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.player-card {
    display: block;
    border: 1px solid black;
    padding: 1rem;
}