@import url('/css/modern-normalize.min.css');
@import url('/css/header.css');
@import url('/css/player-card.css');

body {
    max-width: 50rem;
    margin: auto;
}
button,
input {
    margin: 0.5rem;
}
#filter {
    display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: center;
}