form#createPlayer(hx-post="/players/create" hx-encoding="multipart/form-data" hx-swap="outerHTML")
    label(for="discordSearch") Discord: *
    input#discordSearch(type="text" name='discordSearch' onkeydown="this.setCustomValidity('')" hx-on:htmx:validation:validate="if(!document.getElementById(\"createPlayer\").elements[\"discord\"]?.value){this.setCustomValidity('Please enter a valid, unregistered CVRE member.');htmx.find('#createPlayer').reportValidity();}")
    p(hx-post="/discord/member/search" hx-trigger="keyup from:#discordSearch throttle:500ms" hx-target='this' hx-swap="innerHTML")
    label(for="name") Name: *
    input#name(type="text" name="name" required)
    br
    label(for="school") School: *
    input#school(type="text" name="school" required)
    br
    label(for="verification") Verification:
    input#verification(type="file" name="verification")
    br
    input(type="submit" value="Submit")
    input(type="button" value="Cancel" onclick="document.getElementById(\'createPlayer\').outerHTML = \'<button hx-get=\"/players/create\" hx-swap=\"outerHTML\">Register New Player</button>\'; htmx.process(document.body)")