include ../mixins/player-card
+player-card(player)
    button(hx-get="/players/" + player.id + "/edit" hx-target="closest .player-card" hx-swap="outerHTML") Update
    button(hx-delete="/players/" + player.id hx-target="closest .player-card" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete this player's registration?") Delete