form#registerSelf(hx-post="/self/create" hx-encoding="multipart/form-data" hx-swap="outerHTML")
    input(type="hidden" name="discord" value=discord)
    label(for="name") Name: *
    input#name(type="text" name="name" required)
    br
    label(for="school") School: *
    input#school(type="text" name="school" required)
    br
    label(for="verification") Verification:
    input#verification(type="file" name="verification" accept="image/*,application/pdf")
    br
    input(type="submit" value="Submit")
    input(type="button" value="Cancel" onclick="document.getElementById(\'registerSelf\').outerHTML = \'<button hx-get=\"/self/create\" hx-swap=\"outerHTML\">Register</button>\'; htmx.process(document.body)")