form(hx-put="/self" hx-encoding="multipart/form-data" hx-swap="outerHTML")
    label(for="name") Name:
    input#name(type="text" name="name" value=player.name required)
    br
    label(for="school") School:
    input#school(type="text" name="school" value=player.school required)
    br
    label(for="verification") Verification:
    input#verification(type="file" name="verification")
    br
    input(type="submit" value="Submit")
    input(type="button" value="Cancel" hx-get='/self' hx-target="#selfReg" hx-swap="innerHTML")