include ../mixins/player-card
+player-card(player)
    button(hx-get="/self/edit" hx-target="closest .player-card" hx-swap="outerHTML") Update
    button(hx-delete="/self/" hx-target="closest .player-card" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete your registration?") Delete