mixin manager-card(player)
    include player-card
    +player-card(player)
        button(hx-get="/api/manage/players/" + player.id hx-target="closest .player-card" hx-swap="outerHTML") Update
        button(hx-delete="/api/manage/players/" + player.id hx-target="closest .player-card" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete this player's registration?") Delete