footer
    a(onclick="window.open('help', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');") Help
    a(href="https://cvreleague.com/" target="_blank") CVRE League 
    a(href="http://discord.gg/JXbmZjp" target="_blank") Discord
    span &copy 2024 COLLEGIATE VR ESPORTS LLC