form
    select(name="playerID")
        each player in players
            option(value=player.id)= player.discord
        else
            option No managed players available.
    label(for="alt_tag") In-game tag:
    input#alt_tag(type="text" name="alt_tag" required)
    br
    label(for="scoresaber") ScoreSaber (if applicable):
    input#scoresaber(type="text" name="scoresaber" required)
    br
    input(type="submit" value="Assign" hx-encoding="multipart/form-data" hx-post="/api/manage/teams/" + teamID + "/assignments" hx-target="#teams")
    button(hx-get="/api/manage/teams" hx-target="#teams") Cancel