extends ../default

block content
    h2 Admin Portal
    nav
        a(href='/admin/verify') Verify Players
        a(href='/admin/payments') Payment Reports
        a(href='/admin/quals') Quals 
        a(href='/admin/orphans') Orphans
    block subcontent