extends ../default

block content
    h2 Admin Portal
    nav
        a(href='/admin/verify') Verify
        a(href='/admin/quals') Quals 
        a(href='/admin/payments') Payments
        a(href='/admin/orphans') Orphans
    block subcontent