extends ../default

block content
    p Log in above to assemble your team for the upcoming season!
        br
        br
        | This public listing of league divisions, teams, and players is still under construction (as is the site's visual design).