extends ../pages/admin

block subcontent
    h2 Verify Players
    form#filter(hx-get="/admin/verify/list" hx-trigger="change, load, submit" hx-target="#verify")
        fieldset
            h4 Filter
            input#REJECTED(type="checkbox" name="REJECTED")
            label(for="REJECTED") REJECTED
            br
            input#AWAITING(type="checkbox" name="AWAITING")
            label(for="AWAITING") AWAITING
            br
            input#REVIEW(type="checkbox" name="REVIEW" checked)
            label(for="REVIEW") REVIEW
            br
            input#ACCEPTED(type="checkbox" name="ACCEPTED")
            label(for="ACCEPTED") ACCEPTED
        input(type="submit" value="Reapply Filter")
    section#verify

    #rejModal.modal
        form#rejReason.modal-content(hx-on::after-request="closeModal()" hx-swap="outerHTML")
            label(for="reason") Rejection Reason:
            input#reason(type="text" name="reason" placeholder="Recommended")
            br
            input(type="submit" value="Submit")
            input(type="button" value="Cancel" onclick="event.preventDefault();closeModal()")
    script.
        const rejModal = document.getElementById("rejModal")
        const rejReason = document.getElementById("rejReason")
        const reason = document.getElementById("reason")

        function revealModal(playerID) {
            rejReason.reset()
            rejReason.setAttribute('hx-put',"/admin/verify/" + playerID + "/REJECTED")
            rejReason.setAttribute('hx-target',"#p" + playerID)
            rejModal.style.display = "block"
            reason.focus()
            htmx.process(rejReason)
        }
        function closeModal() {
            rejModal.style.display = "none"
        }
        window.onclick = function(event) {
            if (event.target == rejModal) {
                rejModal.style.display = "none";
            }
        }